# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [146]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [147]:
# loading the dataset and examining its contents
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [148]:
data.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [149]:
# Checking for missing data is in each column
null_counts = data.isnull().sum()
null_counts

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [150]:
value_counts = data['Salary or Hourly'].value_counts()
print(value_counts)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [151]:
value_counts1 = data['Department'].value_counts()
print(value_counts1)

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [152]:
import scipy.stats as stats
from scipy.stats import ttest_1samp

# Set the null hypothesis (H0) value
# H0_hypothesis_value = 30  # $30/hr

# Extract the non-NaN hourly rates
hourly_rates = data['Hourly Rate'][data['Hourly Rate'].notna()]

# Perform a one-sample t-test
confidence_level = 0.95
sample_mean = hourly_rates.mean()
sample_standard_error = stats.sem(hourly_rates)
degrees_freedom = len(hourly_rates) - 1

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)

stat, pval = ttest_1samp(hourly_rates, H0_hypothesis_value)

print('confidence interval is', confidence_interval)
print('t-statistic is', stat)
print('p-value for the two-tailed test is', pval)

# interpreting the results, we can assume by the p value being much < than 0.05 that "H0 must go!". We cannot assume that 
# the hourly wage of all hourly workers is significantly different from $30/hr, but is also not equal to 30$ like H0.

confidence interval is (34.29839539204361, 34.874504045197305)
t-statistic is 31.211500329216044
p-value for the two-tailed test is 3.825475847673794e-202

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [153]:
#One-tailed confidence interval
#H0: The annual salary of police is <= 86000$
#H1: The annual salary of police is > 86000$

police = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
police.head()
#police['Annual Salary'].mean()

#Checking for my stat and p value
stat2, pval2 = ttest_1samp(police['Annual Salary'], 86000)
print('stat is  ', stat2)
print('pvalue for the one-tailed test is ', pval2/2)

'''in this case we need to look ate the combination of the p value and stat. P-Value is lower than alpha(0,05) which means that
H0 can go and the stat value is also positive, what supports the result. The salaries this year are higher than last
year's mean of $86000/year a year for all salaried employees.'''

stat is   18.51748561981861
pvalue for the one-tailed test is  6.119566952121482e-76

"in this case we need to look ate the combination of the p value and stat. P-Value is lower than alpha(0,05) which means that\nH0 can go and the stat value is also positive, what supports the result. The salaries this year are higher than last\nyear's mean of $86000/year a year for all salaried employees."

Using the `crosstab` function, find the department that has the most hourly workers.

In [154]:
# Create a subset of data for hourly workers
data_hourly = data[data['Salary or Hourly'] == 'Hourly']

# Create a cross-tabulation of the 'Department' and 'Salary or Hourly' columns for hourly workers
data_crosstab = pd.crosstab(data_hourly['Department'], data_hourly['Salary or Hourly'])
data_crosstab

# Find the department with the most hourly workers
department_with_most_hourly_workers = data_crosstab['Hourly'].idxmax()

# Print the result
print("Department with the most hourly workers:", department_with_most_hourly_workers)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [155]:
# Set the null hypothesis (H0) value
H0_Hourly_rate = 35  # $35/hr

# Create a subset of data for hourly workers from the department with the most hourly workers
data_hourly = data[(data['Salary or Hourly'] == 'Hourly') & (data['Department'] == department_with_most_hourly_workers)]

# Perform a one-sample t-test for a one-tailed (left-tailed) test
confidence_level = 0.95
sample_mean = data_hourly['Hourly Rate'].mean()
sample_standard_error = stats.sem(data_hourly['Hourly Rate'])
degrees_freedom = len(data_hourly) - 1

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)

# Calculate the t-statistic and p-value for the one-tailed test
stat, pval = ttest_1samp(data_hourly['Hourly Rate'], H0_Hourly_rate)

# Check if we can reject the null hypothesis
print('Confidence interval is', confidence_interval)
print('t-statistic is', stat)
print('p-value for the one-tailed test is', pval / 2)  # Divide p-value by 2 for one-tailed test

'''We cannot reject the null hypothesis: Hourly wage is not significantly less than $35/hour.'''

Confidence interval is (35.28150811892018, 35.82308559722106)
t-statistic is 4.000138803968834
p-value for the one-tailed test is 3.2902372218867895e-05

'We cannot reject the null hypothesis: Hourly wage is not significantly less than $35/hour.'

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [156]:
# Extract the non-NaN hourly rates
hourly_rates = data['Hourly Rate'][data['Hourly Rate'].notna()]

# Perform a one-sample t-test
confidence_level = 0.95
sample_mean = hourly_rates.mean()
sample_standard_error = stats.sem(hourly_rates)
degrees_freedom = len(hourly_rates) - 1

confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)
print('confidence interval is', confidence_interval)

confidence interval is (34.29839539204361, 34.874504045197305)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [157]:
police = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
police.head()

# Perform a one-sample t-test
confidence_level = 0.95
sample_mean = police['Annual Salary'].mean()
sample_standard_error = stats.sem(police['Annual Salary'])
degrees_freedom = len(police) - 1

# Calculate the confidence interval using the t.interval function
confidence_interval = stats.t.interval(confidence_level, degrees_freedom, sample_mean, sample_standard_error)

# Print the confidence interval
print('Confidence interval for the POLICE department salaries (95%):', confidence_interval)

Confidence interval for the POLICE department salaries (95%): (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [158]:
# Your code here: